body {
	background-color: #689563;
	background-repeat: repeat;
}
h1 {
	font-size: 24pt;
	color: white;
	text-align: center;
}
label {
	font-size: 10pt;
	color: white;
}
label, input {
	display: block;
}