			body {
    			width: 1000px;
    			border:3px solid #8AC007;
    			padding: 10px;
    			padding-left: 50px;	

			}
			input[type=text] {
				font-size: 15px;
				border: 2px solid #aaaaaa;
				margin-bottom: 20px;
				padding-top: 30px;
				padding-left: 20px;
			}
			input[type=submit] {
				width: 120px;
				font-size: 24px;
			}

			input[type=button] {
    			width: 120px;
    			font-size: 24px;
			}
			#chat_console {
    			width: 800px;
    			height: 300px;
    			border:1px solid #666;
    			margin-bottom: 30px;
    			padding: 10px;
    			padding-left:20px; 	
    			overflow-y: auto;
    			padding-bottom: 10px;
			}
			h1 {
				text-align: center;
			}
			.connected {
				font-style: italic;
				color: #606060;
			}
			span {
				text-align: justify;
			}
			

			div.chat_message {
				background-color: #d3d3d3;
			}
			div.username {
			    left: 0;

			}

			div.timestamp {
			    right: 0;
			}
			div.message {

			    left: 0;
			}