body {
    			width: 1000px;
    			border:3px solid #8AC007;
    			padding: 10px;
    			padding-left: 50px;	

			}
			input[type=text] {
				font-size: 15px;
				border: 2px solid #aaaaaa;
				margin-bottom: 20px;
				padding-top: 30px;
				padding-left: 20px;
			}
			input[type=submit] {
				font-size: 24px;
			}
			#chat_console {
    			width: 800px;
    			height: 300px;
    			border:3px solid #FF0000;
    			margin-bottom: 30px;
    			padding: 10px;
    			padding-left:20px; 	

			}
			h1 {
				text-align: center;
			}
			.connected {
				font-style: italic;
				color: #606060;
			}